$color_1: #ffffff;
$color_2: #153630;
$font-family_1: Arial, Helvetica, sans-serif;
$font-family_2: Arial, sans-serif;
$background-color_1: #161617;
$background-color_2: rgba(46, 236, 197, 0.1019607843);
$border-color_1: #2EECC5;

@import "colors";
.portfolio {
	position: relative;
	width: 100%;
	min-height: 400px;
	box-sizing: border-box;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 4rem 2rem;
	gap: 2rem;
	background-color: $background-color_1;
	background-image: url('../images/portfolio_bg.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: $font-family_1;
}
.portfolio-left-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	height: auto;
	gap: 4rem;
	width: 50%;
	margin-left: 7rem;
	padding: 4rem 0rem;
}
.portfolio-title {
	font-size: 48px;
	font-family: $font-family_2;
	font-style: normal;
	font-weight: bold;
	background: linear-gradient(to right, #B5FEEF, #2EECC5);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	gap: 0.5rem;
}
.portfolio-subtitle {
	font-family: $font-family_1;
	font-style: medium;
	font-weight: 400;
	font-size: 22px;
	color: $color_1;
	opacity: 65%;
	background: transparent;
}
.portfolio-btn {
	padding: 1rem 1rem;
	font-size: 1rem;
	border-radius: 49px;
	border-color: $border-color_1;
	color: $color_1;
	background-color: $background-color_2;
	box-shadow: 0 0 5px #2EECC5, 0 0 10px #2EECC5, 0 0 20px #2EECC5;
	text-decoration: none;
}
.portfolio-right-content {
	width: 50%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	z-index: 1;
}
.carousel {
	width: 80%;
	max-width: 600px;
	overflow: visible;
	border-radius: 10px;
	position: relative;
}

.carousel-track-container {
    overflow: hidden; /* This acts as the "window" for your images */
    border-radius: 10px;
    width: 100%;
}

.carousel-track {
	display: flex;
	transition: transform 0.5s ease-in-out;
	z-index: 2;
	position: relative;
	overflow: visible;
}
.carousel-item {
	min-width: 100%;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	font-weight: bold;
	z-index: 2;
	border: solid 2px #2EECC5 20%;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 10px;
		z-index: 2;
		border: solid 2px #2EECC5 20%;
	}
}
.carousel-buttons {
	position: absolute !important;
	top: 50%;
	left: 50%;
	right: 0;
	width: 110%;
	display: flex;
	justify-content: space-between;
	transform: translate(-50%, -50%);
	pointer-events: none;
	z-index: 99;
	button {
		pointer-events: auto;
		cursor: pointer;
		width: 45px;
		height: 45px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.5rem;
		color: $color_2;
		border-radius: 50%;
		border: 2px solid #153630;
		background: linear-gradient(to bottom, #323939, #19201F) padding-box, linear-gradient(to bottom, #323939, #303134) border-box;
	}
}