.footer {
  background: $dark;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;


  .footer-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-style: bold;
    font-size: 96px;
    padding: 4rem;
  }

  .footer-icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: transparent;
    width: 50%;
    padding: 2rem;
  }

  .footer-icons a {
    background-color: #ffffff;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: solid 5px #161617;
    outline: solid 1px grey;
  }

  .footer-icons a i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #161617;
    background: transparent;
    font-size: 2rem;
  }

  .footer-icons a:hover {
    background-color: radial-gradient(to center, #2EECC5, #00644F);
    transform: scale(1.20);
    transition: 1s;
    background-color: #2EECC5;
  }

  .footer .footer-date-info {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    opacity: 70%;
    font-style: regular;
    margin-top: 20px;
  }

  .footer .footer-disclaimer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 13px;
    opacity: 40%;
  }

  .footer {
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;

    .footer-title {
      display: flex;
      align-items: center;
      justify-content: center;

      font-weight: 400;
      font-style: bold;
      font-size: 96px;

    }

    .footer-icons {
      display: flex;
      align-items: center;
      justify-content: space-around;
      color: transparent;

      a {
        background-color: $white;
        border-radius: 50%;

        width: 90px;
        height: 90px;

        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        i {
          display: flex;
          justify-content: center;
          align-items: center;
          color: $dark;
          background: transparent;
          
          font-size: 2rem;
        }

        .footer-icons a:hover {
        box-shadow: 0 0 0 4px $white;
        transform: scale(1.05);
        transition: 0.2s;
        }
      }
    }

    .footer-date-info {
      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 15px;
      opacity: 70%;
      font-style: regular;

      margin-top: 20px;
    }

    .footer-disclaimer {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;

      font-size: 13px;
      opacity: 40%;
    }
  }

}