$color_1: #ffffff;
$color_2: #00644F;
$font-family_1: Arial, Helvetica, sans-serif;
$font-family_2: Arial, sans-serif;
$background-color_1: rgba(46, 236, 197, 0.1019607843);

.form-section {
	width: auto;
	height: 458px;
	background: linear-gradient(to right, #313134, #222224, #12473C, #292929);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	font-family: $font-family_1;
	position: relative;
	z-index: 1;
}
.form-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}
.form-title {
	font-size: 48px;
	font-family: $font-family_2;
	font-style: normal;
	font-weight: bold;
	background: linear-gradient(to right, #B5FEEF, #2EECC5);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	gap: 0.5rem;
	text-align: start;
	width: 58rem;
}
.form-forms {
	display: flex;
	flex-direction: row;
	gap: 3rem;
	justify-content: center;
	align-items: center;
	p {
		font-family: $font-family_1;
		font-style: medium;
		font-weight: 400;
		font-size: 22px;
		color: $color_1;
		opacity: 65%;
		background: transparent;
		padding: 1rem;
		padding-left: 0;
		text-align: left;
	}
	input {
		width: 437px;
		height: 50px;
		background: #FFFFFF 10%;
		padding: 0.5rem;
		font-size: 1rem;
		border-radius: 41px;
		border: solid 1.5px white;
		color: $color_2;
		opacity: 20%;
	}
}
.form-group {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.send-btn {
	height: 52px;
	width: 184px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 1rem;
	font-size: 1rem;
	border-radius: 49px;
	background-color: $background-color_1;
	text-decoration: none;
	margin-top: 3rem;
	border: solid 1.5px #2EECC5;
	color: $color_1;
	font-size: 19px;
}
.form-right {
	img {
		width: auto;
		top: 1%;
		background: transparent;
		padding-top: 1rem;
	}
}