@media (max-width: 767px) {
  body {
    padding-top: 0;
  }

  .scroll-counter {
    display: none !important;
    position: relative;
  }

  .page-section {
    height: auto !important;
  }

  .navbar {
    flex-direction: row-reverse;
    align-items: center;
    padding: 1rem 2rem;
    width: 100% !important;
    max-width: 766px !important;
    left: 0 !important;
    right: 0 !important;
    box-sizing: border-box;
  }

  .navbar .hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }

  .navbar .hamburger span {
    display: block;
    height: 3px;
    width: 30px;
    background: linear-gradient(to top, #3A796D, #2EECC5);
    border-radius: 2px;
    transition: all 0.3s ease;
  }

  #menu-toggle:checked ~ .hamburger {
    position: relative;
    top: 1.5rem;
    left: 1rem;
    z-index: 1000;
  }

  #menu-toggle:checked ~ .hamburger span:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
  }

  #menu-toggle:checked ~ .hamburger span:nth-child(2) {
    opacity: 0;
  }

  #menu-toggle:checked ~ .hamburger span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}

  .hamburger span:nth-child(2) {
    width: 70%;
  }

  #menu-toggle:checked ~ .links {
    display: flex;
    flex-direction: column;
    text-align: center;   
    
    position: absolute;
    top: 5%;
    left: 3%;
    right: 3%;

    z-index: 999;
    width: 100vw;
    max-width: 767px;
    // max-width: 100vw;
  }

  #menu-toggle:checked ~ .links li {
    display: block;
    width: 100%;

    background: none;
    background-clip: unset;
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;

    transition: all 0.3s ease; /* smooth hover effect */
  }

  #menu-toggle:checked ~ .links li:hover {
    background: linear-gradient(to right, #30DBB8, #37A58F, #398778);
  }

  #menu-toggle:checked ~ .links a {
    display: inline-block;

    font-size: 20px;

    font-weight: 600;
    padding: 1rem 0;
  }

  #menu-toggle:checked ~ .logos {
    display: none;
  }

  .navbar .links {
    display: none;
    flex-direction: column;
    gap: 1rem;
    text-align: center;

    background: linear-gradient(to bottom, #161919, #373A3A);

    border-color: #ffffff;
    border-width: 20px;
    border-radius: 10px;
    // max-width: 100% !important;  
    width: 100% !important;
  }

  .navbar .links a {
    font-size: 20px;
    font-weight: 600;

    font-size: 20px;

    font-weight: 600;
    padding: 1rem 0;

    background: linear-gradient(to right, #B5FEEF, #2EECC5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .navbar a {
    padding: 0.3rem 0;
  }

  .navbar .nav-buttons {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  }

  .hero-section {
    display: flex !important;
    padding: 0;
    position: relative;
    
    flex-direction: row;
    height: auto !important;
    overflow: hidden;


    .hero-left-section {
      display: flex;
      flex-direction: column;
      
      margin-left: 0;
      position: relative;

      justify-content: flex-start;
      top: 10%;
      height: 100%;
      padding-left: 5%;
    }

    .hero-title {
      font-size: 27px;
    }

    .hero-subtitle {
      display: none !important;
    }

    .hero-title-bottom {
      display: none !important;
    }

    .hero-p {
      display: none !important;
    }

    .hero-subtitle-mobile-text {
      display: flex !important;
      font-family: $font-family_2;
      font-style: medium;
      font-weight: 400;
      font-size: 13px;
      color: $color_1;
      opacity: 65%;
      background: transparent;
    }
    
    .hero-btn {
      padding: 1rem 1rem;
      font-family: $font-family_2;
      font-style: medium;
      font-weight: 400;
      font-size: 13px;
    }

    .hero-right-section {
      position: relative !important;
      width: 50%;
      height: 140vw;
      z-index: 1;
      overflow: hidden;
    }

    .bg-circle {
      position: relative;
      overflow: hidden !important;
      top: 0;
      left: 40%;
      width: 150vw;
      height: auto;
    }

    .hero-image {
      left: 30%;
      width: 50vw;
      height: auto;
    }
  }

  .cards-section{
    position: relative;
    display: flex !important;
    flex-direction: column;
    padding: 2rem 1rem;
    padding-bottom: 0rem;
    width: 100%;

    .cards-container {
      display: flex !important;
      align-items: center;
      position: relative;
      flex-direction: column;
      margin-left: 0;
      gap: 1.5rem;
      width: 100%;
      height: auto;
    }


    .cards-prices,
    .cards-deadline,
    .cards-team,
    .cards-consultation {
      width: 90%;
      min-height: 500px;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: left;
      text-align: left;
      padding: 1rem;
    }

    .cards-main {
      height: auto;
      width: 90%;
      display: flex;
      align-items: center;
      text-align: center;

      h3 {
        font-weight: bold;
        font-size: 50px;
        text-align: center;
        padding: 0;
      }

      .cards-content:nth-child(2) {
        display: none !important;
      }

      p {
        padding: 0;
        margin: 0;
        font-size: 15px;
      }

      .cards-btn {
        margin: 0;
      }
    }

    .cards-title {
      width: 100%;
      padding: 1rem;
      text-align: left;
      font-weight: bolder;
    }

    .cards-content {
      margin-left: 0 !important;
      padding-left: 0;
      padding: 1rem;
    }

    .cards-content:nth-child(1) {
      display: none !important;
    }
  }

  .portfolio {
    flex-direction: column;
    


    .portfolio-left-content {
      text-align: center;
      margin-left: 0;
      width: 100%;
      height: auto;
      align-items: center;
    }

    .portfolio-right-slider {
      align-items: center;

      .carousel {
        width: 100%;
      }

      .carousel-track {
        height: 350px;
      }

      .carousel-buttons {
        top: 110%;
        position: relative;
        display: flex;
        justify-content: space-evenly;
      }
    }
  }

  .pricing-section {
    width: 100%;
    padding-bottom: 4rem;

    .pricing-container {
      padding: 0 15px;
      width: 90%;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .pricing-title {
      font-size: 30px;
    }

    .pricing-window {
      padding: 10px 0;
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .pricing-swiper {
      width: 100%;
      padding: 0 10px;
    }

    .swiper-slide {
      width: 100%;
      padding: 0 5px;
      height: auto;
      display: flex;
      justify-content: center;
    }

    .pricing-card {
      max-width: 350px;
      gap: 2rem;
    }

    .pricing-slider-control {
        position: relative;   
        height: auto;          
        margin-top: 2rem;      
        display: flex;
        justify-content: center;
        gap: 50px;             /* This controls how "close" they are to each other */
        pointer-events: auto;  /* Ensure they are clickable */
        flex-direction: row-reverse;
    }

    .swiper-button-next,
    .swiper-button-prev {
        position: relative;    /* Remove absolute pinning to the far edges */
        top: 0;                /* Reset the 65% vertical position */
        transform: none;       /* Remove the vertical centering transform */
        left: auto !important; /* Reset left position */
        right: auto !important;/* Reset right position */
        margin: 0;             /* Remove default swiper margins */
    }
  }

  .form-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;

    .form-left{
      gap: 0;
      width: 100%;
    }

    .form-title {
      width: 100%;
      text-align: center;
      padding: 2rem;
      font-size: 57px;
    }

    .form-forms {
      flex-direction: column;
      gap: 0;
      width: 90%;
      align-items: center;
    

      div {
        width: 100%;
        align-items: center;
      }

      p {
        font-size: 32px;
      }

      input {
        width: 100%;
        height: 6rem;
        gap: 0;
        align-items: center;
      }
    }

    .send-btn {
      height: 92px;
      width: 214px;
      padding: 0 2rem;
      font-size: 2rem;
    }

    .form-group {
      display: flex;
      align-items: center;
    }

    .form-right {
      img {
        display: none;
      }
    }
  }

  .footer {
    display: flex;

    .footer-title {
      display: none;
    }

    .footer-icons {
      width: 100%;
      background-color: linear-gradient(to right, green yellow);
    }

    .footer-date-info,
    .footer-disclaimer {
      font-size: 9px;
    }
  }
}
