@media (min-width: 768px) {
    nav {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .hamburger {
            display: none;
        }


        .links{
            display: flex;
            flex-direction: row;
            font-size: 20px;
            gap: 1rem;
        }

        .order-btn {
            align-self: center;
        }
    }
}