@import "colors";

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    padding: 1rem;
    background-color: $dark;
    color: $white;
    font-family: sans-serif;


    .logos {
        display: flex;
        flex-direction: column;
    }

    #menu-toggle {
    display: none;
    }

    .hamburger {
        width: 30px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
    }

    .hamburger span {
        height: 3px;
        background: $white;
        border-radius: 2px;
    }

    .links {
        display: none;
        flex-direction: column;
        list-style-type: none;
        gap: 0.5rem;
        font-size: 16px;
        margin: 0;
    }

    #menu-toggle:checked + .hamburger + .links {
        display: flex;
    }

    a {
        color: $white;
        text-decoration: none;
        padding: 0.5rem;
        display: block;
    }

    .order-btn {
        padding: 0.4rem 1rem;
        font: 1rem;
        border-radius: 49px;
        border-color: $lime;
        color: $white;
        color: #2EECC51A;
        opacity: 10%;
        box-shadow: 
        0 0 5px $lime,   
        0 0 10px $lime,  
        0 0 20px $lime;
    }
}