@import "colors";
@import "navbar";
@import "hero_section";
@import "cards_section";
@import "portfolio_section";
@import "pricing";
// @import "media";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.scroll-area {
  position: relative;
  min-height: 100vh;
}

/* Sections for scrolling */
.page-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

/* COUNTER CONTAINER */
.scroll-counter {
  position: absolute;
  top: 0;

  left: 40px;
  bottom: 0;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
  z-index: 10;
  pointer-events: none;
}

/* VERTICAL LINE */
.scroll-counter .line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 80%;
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom, transparent, #2EECC5, transparent);
  z-index: 1;
}

.step-bullet {
  width: 17px;
  height: 38px;
  border: 2px solid black;
  border-radius: 9px;
  outline: #22A98D solid 3px;
  background: linear-gradient(to bottom, #B5FEEF, #22A98D);
}

/* NUMBERS */
.step {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 25px;
  font-style: extra-bold;
  color: #2EECC5;
  opacity: 0.5;
  transition: all 0.3s ease;
}

/* ACTIVE STEP */
.step.active {
  /* margin-bottom: 50px; */
  opacity: 1;
}



.form-section {
  width: auto;
  height: 458px;
  background: linear-gradient(to right, #313134, #222224, #12473C, #292929);
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  z-index: 1;
}

.form-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.form-title {
  font-size: 48px;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  background: linear-gradient(to right, #B5FEEF, #2EECC5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  gap: 0.5rem;
  text-align: start;
  width: 58rem;
}

.form-forms {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: center;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-forms p {
  font-family: Arial, Helvetica, sans-serif;
  font-style: medium;
  font-weight: 400;
  font-size: 22px;
  color: #ffffff;
  opacity: 65%;
  background: transparent;
  padding: 1rem;
  padding-left: 0;

  text-align: left;
}

.form-forms input {
  width: 437px;
  height: 50px;
  background: #FFFFFF 10%;
  
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 41px;
  border: solid 1.5px white;
  color:#00644F;
  opacity: 20%;
}

.send-btn {
  height: 52px;
  width: 184px;
  display: flex;
  justify-content: center;
  
  align-items: center;
  padding: 0 1rem;
  font-size: 1rem;
  border-radius: 49px;
  background-color: rgba(46, 236, 197, 0.1019607843);
  text-decoration: none;
  margin-top: 3rem;
  border: solid 1.5px #2EECC5;
  color: #ffffff;
  font-size: 19px;
}

.form-right img {
  width: auto;
  top: 1%;
  background: transparent;
  padding-top: 1rem;
}

.footer {
  background: $dark;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.footer .footer-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-style: bold;
  font-size: 96px;
  padding: 4rem;
}

.footer .footer-icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: transparent;
  width: 50%;
  padding: 2rem;
}

.footer .footer-icons a {
  background-color: #ffffff;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: solid 5px #161617;
  outline: solid 1px grey;
}

.footer .footer-icons a i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #161617;
  background: transparent;
  font-size: 2rem;
}

.footer .footer-icons a:hover {
  background-color: radial-gradient(to center, #2EECC5, #00644F);
  transform: scale(1.20);
  transition: 1s;
  background-color: #2EECC5;
}

.footer .footer-date-info {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  opacity: 70%;
  font-style: regular;
  margin-top: 20px;
}

.footer .footer-disclaimer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 13px;
  opacity: 40%;
}

.footer {
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;

  .footer-title {
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 400;
    font-style: bold;
    font-size: 96px;

  }

  .footer-icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: transparent;

    a {
      background-color: $white;
      border-radius: 50%;

      width: 90px;
      height: 90px;

      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;

      i {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $dark;
        background: transparent;
        
        font-size: 2rem;
      }

      .footer-icons a:hover {
      box-shadow: 0 0 0 4px $white;
      transform: scale(1.05);
      transition: 0.2s;
      }
    }
  }

  .footer-date-info {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 15px;
    opacity: 70%;
    font-style: regular;

    margin-top: 20px;
  }

  .footer-disclaimer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

    font-size: 13px;
    opacity: 40%;
  }
}