@import "colors";
@import "navbar";

* {
    margin: 0;
    padding: 0;
    position: flex;
    justify-content: space-around;
    max-width: auto;
}

.navbar {
    padding: 50px;
    background-color: $dark;
    color: $white;
    align-items: center;
    justify-content: space-between;


    .logo-text {
        text-decoration: none;
        color: $white;
        font-weight: bold;
        font-size: 40px;
        border: none;
    }

    .links {
        display: flex;
        justify-content: space-between;
        font-size: 20px;
    }

    a {
        margin-right: 20px;
    }

    button {
        width: 183px;
        height: 56px;
        opacity: 1;
        top: 50px;
        border-radius: 49px;
        border-color: $lime;
        color: $white;
        background-color: #2EECC51A;
        font-size: 20px;
        box-shadow: 0 0 7px $lime;
    }
}

