@import "colors";
@import "navbar";
@import "media";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #161617;
}

// Ensure the swiper container takes up the full viewport
.swiper-vertical-timeline {
  width: 100%;
  height: 100vh;
}

// Position the pagination container on the left side
.custom-timeline-pagination.swiper-pagination-vertical {
  position: fixed; 
  left: 30px; 
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 580px;
  width: auto;
}

// Style the wrapper div (which is the actual Swiper bullet class)
.swiper-pagination-bullet {
  display: flex; // Use flexbox to align number and node horizontally
  align-items: left;
  margin-top: 50px !important;
  background: none; // Remove default background
  width: auto; // Width determined by content

  // Style for the number (e.g., 01)
  .step-number {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    margin-right: 15px; // Space between number and node
    left: 20px;
    display: flex;
    align-items: left;
  }

  // Style for the oval node
  .step-node {
    width: 25px;
    height: 37px;
    background-image: linear-gradient(to bottom, $white, $lime);
    border-radius: 9px;
    position: relative;
    z-index: 1;
  }
  
  // Add the vertical line connector using a pseudo-element on the parent bullet
  &::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 100vh; 
    background-color: $lime;
    z-index: -1;
    left: 10px;
    top: 0px;
  }

  // Hide the line on the very last bullet
  &:last-child::after {
    display: none;
  }
}

// Style for the active timeline point
.swiper-pagination-bullet-active {
  .step-number {
    color: $accent-teal; // Change number color when active
  }
}

// Ensure the slides have a background color so text is visible
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1818b0;
    color: white;
    font-family: 'Lato', sans-serif;
}