nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  background-color: #161617;
  color: #ffffff;
  font-family: sans-serif;
}
nav .logos {
  display: flex;
  flex-direction: column;
}
nav #menu-toggle {
  display: none;
}
nav .hamburger {
  width: 30px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}
nav .hamburger span {
  height: 3px;
  background: #ffffff;
  border-radius: 2px;
}
nav .links {
  display: none;
  flex-direction: column;
  list-style-type: none;
  gap: 0.5rem;
  font-size: 16px;
  margin: 0;
}
nav #menu-toggle:checked + .hamburger + .links {
  display: flex;
}
nav a {
  color: #ffffff;
  text-decoration: none;
  padding: 0.5rem;
  display: block;
}
nav .order-btn {
  padding: 0.4rem 1rem;
  font: 1rem;
  border-radius: 49px;
  border-color: #2EECC5;
  color: #ffffff;
  background-color: rgba(46, 236, 197, 0.1019607843);
  box-shadow: 0 0 5px #2EECC5, 0 0 10px #2EECC5, 0 0 20px #2EECC5;
}

@media (min-width: 768px) {
  nav {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  nav .hamburger {
    display: none;
  }
  nav .links {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    gap: 1rem;
  }
  nav .order-btn {
    align-self: center;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #161617;
}

.swiper-vertical-timeline {
  width: 100%;
  height: 100vh;
}

.custom-timeline-pagination.swiper-pagination-vertical {
  position: fixed;
  left: 30px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 580px;
  width: 50px;
}

.swiper-pagination-bullet {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 50px !important;
  background: none;
  width: auto;
  position: relative;
}
.swiper-pagination-bullet .step-number {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 25px;
  margin-right: 15px;
  white-space: nowrap;
  background: transparent;
}
.swiper-pagination-bullet .step-node {
  width: 25px;
  height: 37px;
  background-image: linear-gradient(to bottom, #ffffff, #2EECC5);
  border-radius: 9px;
  position: relative;
  z-index: 1;
  border: 5px solid linear-gradient(to bottom, #ffffff, #2EECC5);
  border-radius: 9px;
  padding: 5px;
}
.swiper-pagination-bullet::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 100vh;
  background-color: #2EECC5;
  z-index: -1;
  left: 10px;
  top: 0px;
  bottom: 0px;
}
.swiper-pagination-bullet:last-child::after {
  display: none;
}

.swiper-pagination-bullet-active .step-number {
  color: #ffffff;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1818b0;
  color: white;
  font-family: "Lato", sans-serif;
  height: 100%;
  background-color: #161617;
}

.footer {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-style: bold;
  font-size: 96px;
}
.footer .footer-icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: transparent;
}
.footer .footer-icons a {
  background-color: #ffffff;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.footer .footer-icons a i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #161617;
  background: transparent;
  font-size: 2rem;
}
.footer .footer-icons a .footer-icons a:hover {
  box-shadow: 0 0 0 4px #ffffff;
  transform: scale(1.05);
  transition: 0.2s;
}
.footer .footer-date-info {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  opacity: 70%;
  font-style: regular;
  margin-top: 20px;
}
.footer .footer-disclaimer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 13px;
  opacity: 40%;
}/*# sourceMappingURL=style.css.map */