@import "colors";
@import "navbar";
@import "media";

* {
    margin: 0;
    padding: 0;
    background-color: $dark;
}

.footer {
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;

  .footer-title {
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 400;
    font-style: bold;
    font-size: 96px;

  }

  .footer-icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: transparent;

    a {
      background-color: $white;
      border-radius: 50%;

      width: 90px;
      height: 90px;

      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;

      i {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $dark;
        background: transparent;
        
        font-size: 2rem;
      }

      .footer-icons a:hover {
      box-shadow: 0 0 0 4px $white;
      transform: scale(1.05);
      transition: 0.2s;
      }
    }
  }

  .footer-date-info {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 15px;
    opacity: 70%;
    font-style: regular;

    margin-top: 20px;
  }

  .footer-disclaimer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

    font-size: 13px;
    opacity: 40%;
  }
}