@import "colors";

// Ensure the swiper container takes up the full viewport
.swiper-vertical-timeline {
  width: 100%;
  height: 100vh;
}

// Position the pagination container on the left side
.custom-timeline-pagination.swiper-pagination-vertical {
  position: fixed; 
  left: 30px; 
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 580px;
  width: 50px;
  background: transparent;
}

// Style the wrapper div (which is the actual Swiper bullet class)
.swiper-pagination-bullet {
  display: flex; // Use flexbox to align number and node horizontally
  flex-direction: row;  
  align-items: center;
  justify-content: flex-start;
  margin-top: 50px !important;
  background: none; // Remove default background
  width: auto; // Width determined by content
  position: relative;

  // Style for the number (e.g., 01)
  .step-number {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    margin-right: 15px; // Spacse between number and node
    white-space: nowrap;
    background: transparent;
    display: flex;
  }

  // Style for the oval node
  .step-node {
    width: 25px;
    height: 37px;
    background-image: linear-gradient(to bottom, $white, $lime);
    border-radius: 9px;
    position: relative;
    z-index: 1;

    border: 5px solid linear-gradient(to bottom, $white, $lime);
    border-radius: 9px;
    padding: 5px;
  }
  
  // Add the vertical line connector using a pseudo-element on the parent bullet
  &::after {
    content: '';
    position: absolute;
    width: 5px;
    height: 100vh; 
    background-color: $lime;
    z-index: -1;
    left: 10px;
    top: 0px;
    bottom: 0px;
  }

  // Hide the line on the very last bullet
  &:last-child::after {
    display: none;
  }
}

// Style for the active timeline point
.swiper-pagination-bullet-active {
  .step-number {
    color: $white; // Change number color when active
  }
}

// Ensure the slides have a background color so text is visible
.swiper-slide {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-family: 'Lato', sans-serif;

    height: 100%;
    background-color: $dark
;
}